body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    max-width: 1300px;
    margin: auto;
}


/* ------------ NAV SECTION ------------- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav__logo {
    margin-left: 20px;
    font-weight: bolder;
    border: solid black 2px;
    transform: scaleY(1.5);
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 40%;
    padding: 0;
    flex-wrap: wrap;
    margin: 10px;
}

.nav__item {
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
    font-weight: bold;
}

.nav__link {
    text-decoration: none;
    color: #000;
}

.nav__icons {
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.nav__list2 {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.nav__item2 {
    list-style: none;
}

/* ---------- END NAV SECTION ------------- */


/* ----------- NAV MEDIA --------------- */

@media screen and (max-width: 1100px) {
    .nav__list {
        width: 70%;
    }
    .nav__logo {
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .nav__list {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        width: 100%;
    }
    
    .nav__list {
        margin: 0;
    }
    .nav__list2 {
        margin: 0;
        padding: 10px;
        flex-direction: column;
    }
    .nav__item {
        margin: 0;
    }
    .nav__logo {
        margin: 0;
    }
}
/* ------------ END NAV MEDIA ------------- */

header {
    margin: auto;
}

.header__div {
    display: flex;
    width: 500px;
}

.titulo {
    margin: 0;
}

.imagen__header {
    max-width: 100%;
}