body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    max-width: 1300px;
    margin: auto;
}


/* ------------ NAV SECTION ------------- */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav__logo {
    margin-left: 20px;
    font-weight: bolder;
    border: solid black 2px;
    transform: scaleY(1.5);
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    margin-left: 0;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 40%;
    padding: 0;
    flex-wrap: wrap;
    margin: 10px;
}

.nav__item {
    list-style: none;
    margin: auto;
    padding: 10px;
    transform: scale(.8);
    font-weight: bold;
}

.nav__link {
    text-decoration: none;
    color: #000;
}

.nav__icons {
    display: flex;
    gap: 20px;
    scale: 1.2;
}

.nav__list2 {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.nav__item2 {
    list-style: none;
}

.separación_nav {
    margin-bottom: 50px;
}

/* ---------- END NAV SECTION ------------- */


/* ----------- NAV MEDIA --------------- */

@media screen and (max-width: 1100px) {
    .nav__list {
        width: 70%;
    }
    .nav__logo {
        margin-left: 10px;
    }
}

@media screen and (max-width: 900px) {
    .nav__list {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        width: 100%;
    }
    
    .nav__list {
        margin: 0;
    }
    .nav__list2 {
        margin: 0;
        padding: 10px;
        flex-direction: column;
    }
    .nav__item {
        margin: 0;
    }
    .nav__logo {
        margin: 0;
    }
}
/* ------------ END NAV MEDIA ------------- */

/* ------------- HEADER SECTION -------------- */

header {
    margin: auto;
}

h1 {
    font-size: 4.5em;
    font-weight: 500;
    line-height: 1.4;
}

.hedaer__parrafo-titulo {
    margin-bottom: 0;
    font-size: .8em;
}

.header__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__div {
    width: 70%;
}

.segundo--div {
    margin-top: 40px;
    width: 350px;
    text-align: justify;
}

.segundo--div__apartado {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.seción-barra-progreso {
    width: 40%;
    margin-top: 10px;
    font-size: .9em;
    font-weight: bold;
}

.barra-progreso {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: relative;
    margin-top:10px;
    border-radius: 2px;
    
}

.raya-progreso {
    width: 16.67%;
    background-color: #333;
    position: absolute;
    height: 2px;
    border-radius: 2px;
}

.titulo {
    margin: 0;
}

.header__párrafo {
    font-size: .8em;
}

.boton {
    border-radius: 50px;
    padding: 10px 25px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #000;
}

.imagen__header {
    max-width: 100%;
    margin: 20px 0;
}

/* --------- END HEADER SECTION ---------- */

/* ----------- MAIN SECTION ---------------- */

.main__primera-secion {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.main__primera-seción_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.segundo--boton {
    margin-top: 20px;
}

.main__flechas {
    display: flex;
    justify-content: end;
    margin: 10px;
    gap: 20px;
}

#fecha-atras {
    color: #ddd;
}

.main__subtitulo {
    font-size: 4em;
    width: 30%;
    font-weight: 100;
    margin: 10px;
    text-transform: uppercase;
}

.main__secion-imagenes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.main__imagen {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.imagen--diferente {
    object-position: 80%;
}

.tipo-coche {
    color: #ccc;
    margin: 0;
    text-transform: uppercase;
}

.descripcion {
    margin: 0;
    text-transform: uppercase;
}

.separación__main {
    margin: 50px 0;
}

/* ----------- MAIN SEGUNDA PARTE ------------- */

.main_segunda-sesion {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.main_segunda-sesion_parrafo {
    width: 210px;
    text-align: justify;
}

.main_raya-segunda-sesion {
    margin: 20px 0 40px 0;
    transform: scaleY(2);
}

.main__segunda-secion_imagen {
    width: 800px;
}

.tercer--boton {
    margin: 30px;
    margin-bottom: 30px;
}

/* ------------- MAIN TERCERA PARTE ------------- */

